<div class="col-md-3">
                <p class="lead">Electra Mart</p>
                <div class="list-group">
                    <a href="~/Product/SearchResult?category=Computers" class="list-group-item">Laptops/Desktop Computers </a>
                    <a href="~/Product/SearchResult?category=Accessories" class="list-group-item">Accessories</a>
                    <a href="~/Product/SearchResult?category=Mobiles" class="list-group-item">Mobiles/Tabs</a>
                </div>
</div>
